<div id="card-deck-container" class="container">
    {{#each pagination}}
        <div class="my-card-deck-{{season}} card-deck">
            {{#each videos}}
                <div style="margin-top:25px;margin-bottom:25px">
                    <a href="/show/{{this.showId.slug}}/episode/{{episode}}">
                        <div id="card-body" class="card border-0 shadow">
                            <div id="card-image-container">
                                <img id="card-image" class="card-img-top rounded-0" src="{{@root.fileSourceRootUrl}}images/shows/{{this.showId._id}}/thumbnails/{{this.thumbnail}}"
                                     alt="Card image cap">
                                <i id="card-play-button" class="fa fa-play-circle-o" aria-hidden="true"></i>
                            </div>
                            <div id="card-title-container" class="card-body d-flex flex-column justify-content-between">
                                <div class="d-flex flex-column">
                                    {{#if @root.atHome}}
                                        <h5 class="card-title my-tertiary-text text-truncate my-line-clamp">{{this.showId.title}}</h5>
                                        <p class="card-text my-secondary-text-text text-truncate my-line-clamp">S{{this.season}}:E{{this.episode}} "{{this.title}}"</p>
                                    {{else}}
                                        <h6 class="card-title my-tertiary-text text-truncate my-line-clamp">Season {{this.season}}</h6>
                                        <h5 class="card-title my-secondary-text text-truncate my-line-clamp">{{this.episode}}. {{this.title}}</h5>
                                        <h6 class="card-title my-tertiary-text text-truncate my-line-clamp">{{this.synopsis}}</h6>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>