<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-inner">
        {{#each pagination}}
            <div class="carousel-item {{#ifEquals page 1}}active{{/ifEquals}}">
                <div id="card" class="d-flex flex-row justify-content-center">
                    {{#each videos}}
                        <div class="pt-2 ps-3 pb-2 pe-3">
                            <a href="/episode/{{episode}}">
                                <div id="card-body" class="card border-0" style="width: 400px; height: 500px">
                                    <div id="card-image-container">
                                        <img class="card-img-top rounded-0"
                                             src="/images/thumbnails/{{thumbnail}}"
                                             alt="Card image cap"
                                             style="height: 250px; object-fit: cover;">
                                    </div>
                                    <h3><i id="card-play-button" class="fa fa-play-circle-o"
                                           aria-hidden="true"></i></h3>
                                    <h4><i id="card-bookmark"
                                           class="fa {{#if bookmarked}}fa-bookmark{{else}}fa-bookmark-o{{/if}}"></i>
                                    </h4>
                                    <div class="card-body d-flex flex-column justify-content-between">
                                        <div class="d-flex flex-column">
                                            <h5 class="card-title">Episode {{episode}}</h5>
                                            <h4>{{title}}</h4>
                                            <p class="card-text">{{synopsis}}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>