<div id="episodes-carousel" class="carousel slide pt-2 pb-2" data-bs-ride="carousel" data-bs-interval="false">
    <div class="container">
        <div class="carousel-inner">
            {{#each pagination}}
                <div id="s{{season}}" class="carousel-item {{#ifEquals page 1}}active{{/ifEquals}}">
                    <div id="card" class="d-flex flex-row justify-content-start">
                        {{#each videos}}
                            <div>
                                <a href="/episode/{{episode}}">
                                    <div id="card-body" class="card border-0 shadow">
                                        <div id="card-image-container">
                                            <img id="card-image" class="card-img-top"
                                                 src="/images/thumbnails/{{thumbnail}}"
                                                 alt="Card image cap">
                                            <i id="card-play-button" class="fa fa-play-circle-o"
                                               aria-hidden="true"></i>
                                        </div>
                                        <div class="card-body d-flex flex-column justify-content-between mt-1">
                                            <div class="d-flex flex-column">
                                                <h4 class="card-title">{{episode}}. {{title}}</h4>
                                                <div>
                                                    <p class="card-text">{{synopsis}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#episodes-carousel"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#episodes-carousel"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>