<div id="episodes-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="container">
        <div class="carousel-inner" style="padding-top:1.5rem;padding-bottom:1.5rem">
            {{#each pagination}}
                <div class="my-carousel-group-{{season}} carousel-item {{#ifEquals page 1}}active{{/ifEquals}}">
                    <div class="card-deck">
                        <div id="card" class="d-flex flex-row justify-content-start">
                            {{#each videos}}
                                <div>
                                    <a href="/show/{{this.showId.slug}}/episode/{{this.episode}}">
                                        <div id="card-body" class="card border-0 shadow">
                                            <div id="card-image-container">
                                                <img id="card-image" class="card-img-top rounded-0"
                                                     src="{{@root.cdnRootUrl}}images/shows/{{this.showId._id}}/thumbnails/{{this.thumbnail}}" alt="Card image cap">
                                                <i id="card-play-button" class="fa fa-play-circle-o"
                                                   aria-hidden="true"></i>
                                            </div>
                                            <div id="card-text-container" class="card-body d-flex flex-column justify-content-between">
                                                <div class="d-flex flex-column">
                                                    <h5 class="card-title my-secondary-text text-truncate my-line-clamp">{{this.episode}}. {{this.title}}</h5>
                                                    <p class="card-text my-tertiary-text text-truncate my-line-clamp">{{this.synopsis}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#episodes-carousel"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#episodes-carousel"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>