<div id="hero-banner">
    <div class="container">
        <div class="d-flex">
            <div id="image-cover" class="me-3">
                <img src="/images/shows/{{show.id}}/cover/{{show.cover}}" alt="" class="shadow">
            </div>
            <div>
                <div class="row">
                    <div class="col">
                        <h1>{{show.title}}</h1>
                        <h6>TV Series<span class="the-dot">{{show.releaseInfo}}</span><span class="the-dot">TV-PG</span><span class="the-dot">{{show.averageRunningTime}}</span></h6>
                        <p>{{show.summary}}</p>
                        <div id="rating">
                            <div class="pt-1 pb-1">
                                <a href="{{show.imdbUrl}}" target="_blank"><h5><img
                                        src="/images/imdb_logo.png"
                                        style="height:25px;padding-right:10px;"><i
                                        class="fa fa-star"
                                        aria-hidden="true"></i>
                                    {{show.imdbRating}} / 10</h5></a>
                            </div>
                        </div>
                        <div id="hero-buttons" class="d-flex flex-row">
                            <div id="play" class="pt-1 pe-3">
                                <a href="/episode/01" class="btn btn-light pt-3 ps-5 pb-3 pe-5"><h5><i
                                        class="fa fa-play"
                                        aria-hidden="true"></i>
                                    Play</h5></a>
                            </div>
                            <div id="add-to-watchlist" class="pt-1">
                                <a href="#" class="btn btn-light pt-3 ps-5 pb-3 pe-5"><h5><i class="fa fa-plus-circle"
                                                                                             aria-hidden="true"></i> Add
                                    to
                                    Watchlist</h5></a>
                            </div>
                            <div id="plus-watchlist" class="pt-1">
                                <a href="#" class="nav-link pt-3 ps-5 pb-3 pe-5"><h5><i class="fa fa-plus" aria-hidden="true"></i></i> Watchlist</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>