<div>
    <div class="d-flex align-items-center mb-2">
        <div class="me-2">
            {{>filter-list-icon}}
        </div>
        <div><h6 class="mb-0">Other Episodes</h6></div>
    </div>

    <div id="non-small-form-factor">
        <div id="episode-list-filter-container">
            <button class="btn btn-outline-light m-1 active">All Episodes</button>
            {{#each @root.show.seasons}}
                <button class="btn btn-outline-light m-1">{{this}}</button>
            {{/each}}
        </div>
    </div>

    <div id="small-form-factor">
        <div style="margin-top:calc(25px - 0.5rem)">
            <div id="other-episodes-sff-dropdown" class="dropdown">
                <button id="dropdownMenuButton" class="btn btn-light btn-lg dropdown-toggle my-secondary-text text-center pt-3 pb-3 w-100" type="button"
                        data-bs-toggle="dropdown" data-bs-auto-close="true"
                        aria-haspopup="true" aria-expanded="false"
                        style="font-weight:500">
                    All Episodes
                </button>
                <ul class="dropdown-menu text-center w-100" aria-labelledby="dropdownMenuButton">
                    <li><button class="dropdown-item active"><h4 class="my-secondary-text mb-0 pt-1 pb-1">All Episodes</h4></button></li>
                    {{#each @root.show.seasons}}
                        <li><button class="dropdown-item"><h4 class="my-secondary-text mb-0 pt-1 pb-1">{{this}}</h4></button></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div id="other-episodes-card-container">
        {{#each otherEpisodes}}
            <div style="margin-top:10px;margin-bottom:10px" data-season="{{this.season}}" class="my-card-container">
                <a href="/show/{{@root.show.slug}}/episode/{{this.episode}}">
                    <div id="card-body" class="card border-0 shadow flex-row" style="height:94px">
                        <div id="card-image-container" style="width:170px;height:100%">
                            <img id="card-image" class="card-img-top rounded-0"
                                 src="{{@root.fileSourceRootUrl}}images/shows/{{this.showId}}/thumbnails/{{this.thumbnail}}"
                                 alt="Card image cap">
                            <i id="card-play-button" class="fa fa-play-circle-o" aria-hidden="true"></i>
                        </div>
                        <div id="card-title-container" class="card-body d-flex flex-column justify-content-between">
                            <div class="d-flex flex-column">
                                <h6 class="card-title my-tertiary-text text-truncate my-line-clamp">
                                    {{#getSeasonsDescription @root.seasonsDescription this.season false}}{{/getSeasonsDescription}}</h6>
                                <h5 class="card-title my-secondary-text text-truncate my-line-clamp">
                                    <span>{{this.episode}}. {{this.title}}</span></h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>

</div>