<div id="top-navbar">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ps-3 pe-3" style="--bs-bg-opacity: 0;">
        <a class="navbar-brand" href="/">
            {{>brand-navbar}}
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a id="navbar-home" class="nav-link" href="/">Home</a>
                </li>
                {{#unless atHome}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{show.fandomWiki}}" target="_blank">Wiki</a>
                    </li>
                {{/unless}}
                <li id="shows-dropdown" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Shows</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {{#each allShows}}
                            <a class="dropdown-item{{#ifEquals @root.showId this._id}} active{{/ifEquals}}"
                               href="/show/{{this.slug}}">{{this.title}} ({{this.releaseInfo}})</a>
                        {{/each}}
                    </div>
                </li>
                <li id="my-watchlist-dropdown" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">My list</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {{#each myWatchist}}
                            <a class="dropdown-item{{#ifEquals @root.showId this._id}} active{{/ifEquals}}"
                               href="/show/{{this.slug}}">{{this.title}} ({{this.releaseInfo}})</a>
                        {{/each}}
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>