<div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <img src="{{fileSourceRootUrl}}images/batang-90s-tv-plus.png" alt="" style="width:300px">
        <p>by <a href="https://mykiepineda.com">Mykie</a></p>
    </div>
</div>

<section class="pt-3">
    <div id="jumbotron-section"
         class="jumbotron jumbotron-fluid d-flex flex-column align-items-center justify-content-center">
        <div class="container">
            <h1 class="display-4">Namiss mo ba ang mga palabas na ito?</h1>
            <p>Libre ang manuod dito at higit sa lahat, walang pesky ads! Kaya ano pang hinihintay ninyo, sign up
                na!</p>
            <p class="lead">
            <h2>
                <a class="btn btn-outline-primary btn-lg" href="#" role="button">
                    Sign Up
                </a>
            </h2>
            </p>
        </div>
    </div>
</section>

{{#if pagination}}
    <div class="container pt-5">
        <h6>Continue Watching for {{userName}}</h6>
    </div>
    <section id="episodes-section">
        <div id="non-small-form-factor">
            {{>episodes-carousel}}
        </div>
    </section>
{{/if}}

<div id="all-shows-section" class="container-fluid pb-5">
    <div class="container pt-5">
        <h6>All Shows</h6>
    </div>
    <section id="suggested-section">
        <div class="container">
            <div class="d-flex flex-row flex-wrap">
                {{#each suggestions}}
                    <div class="p-3">
                        <a href="/show/{{slug}}">
                            <div class="card">
                                <div class="d-flex flex-column justify-content-center align-items-center"
                                     style="position:relative">
                                    <div style="width:200px;height:300px">
                                        <img class="card-img-top"
                                             src="{{@root.fileSourceRootUrl}}images/shows/{{_id}}/cover/{{cover}}"
                                             alt="Card image cap" style="width:100%;height:100%">
                                    </div>
                                    <div class="my-card-title d-flex flex-column justify-content-center align-items-center"
                                         style="position:absolute;width:200px;height:300px">
                                        <h6>{{releaseInfo}}</h6>
                                        <h3>{{title}}</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
</div>