<div class="container">
    <div class="d-flex justify-content-center">
        <img src="{{fileSourceRootUrl}}images/batang-90s-tv-plus.png" alt="" style="width:300px">
    </div>
    <h6 class="ps-3">All Shows</h6>
</div>
<section id="suggested-section">
    <div class="container">
        <div class="d-flex flex-row flex-wrap">
            {{#each suggestions}}
                <div class="p-3">
                    <a href="/show/{{slug}}">
                        <div class="card">
                            <div class="d-flex flex-column justify-content-center align-items-center"
                                 style="position:relative">
                                <div style="width:200px;height:300px">
                                    <img class="card-img-top" src="{{@root.fileSourceRootUrl}}images/shows/{{_id}}/cover/{{cover}}"
                                         alt="Card image cap" style="width:100%;height:100%">
                                </div>
                                <div class="my-card-title d-flex flex-column justify-content-center align-items-center"
                                     style="position:absolute;width:200px;height:300px">
                                    <h6>{{releaseInfo}}</h6>
                                    <h3>{{title}}</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</section>