<section class="pt-5 pb-5 shadow">
    <div id="jumbotron-section" class="jumbotron jumbotron-fluid d-flex flex-column align-items-center justify-content-center">
        <div class="container">
            <h1 class="display-4">Batang 90s TV+</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="lead">
            <div class="d-flex">
                <h2 class="pe-3">
                    <a class="btn btn-primary btn-lg active" href="#" role="button">
                        Sign Up
                    </a>
                </h2>
                <h2>
                    <a class="btn btn-outline-secondary btn-lg" href="#" role="button">
                        Log In
                    </a>
                </h2>
            </div>
            </p>
        </div>
    </div>
</section>

{{#if pagination}}
    <div class="container pt-5">
        <h6 class="my-primary-text">Continue Watching for {{userName}}</h6>
    </div>
    <section id="episodes-section">
        <div id="non-small-form-factor">
            {{>episodes-carousel}}
        </div>
        <div id="small-form-factor">
            {{>episodes-small-form-factor}}
        </div>
    </section>
{{/if}}

<div class="pt-5">
    <div class="container">
        <h6 class="my-primary-text">Show Categories</h6>
    </div>
    <div id="non-small-form-factor">
        <div id="categories-button-container" class="container" style="transform:translate(-0.5rem)">
            {{#each categories}}
                <button class="m-2 btn btn-outline-primary{{#ifEquals this._id "01"}} active{{/ifEquals}}"
                        data-category-id="{{this._id}}">{{this.description}}</button>
            {{/each}}
        </div>
    </div>
    <div id="small-form-factor">
        <div class="container" style="margin-top:calc(25px - 0.5rem)">
            <div id="categories-sff-dropdown" class="dropdown">
                <button id="dropdownMenuButton" class="btn btn-light btn-lg dropdown-toggle my-secondary-text" type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"
                        style="font-weight:500;line-height:1.2;width:100%;text-align:center;padding:15px 0">
                    All Shows
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width:100%;text-align:center">
                    {{#each categories}}
                        <button class="dropdown-item{{#ifEquals this._id "01"}} active{{/ifEquals}}" data-category-id="{{this._id}}">
                            <h4 class="my-secondary-text">{{this.description}}</h4></button>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <section id="all-shows-section" class="mt-3">
        <div class="container">
            <div class="d-flex flex-row flex-wrap justify-content-start" style="transform:translate(-0.5rem)">
                {{#each suggestions}}
                    <div class="my-card" data-category-id="{{this.categoryId}}">
                        <a href="/show/{{slug}}">
                            <div class="card m-2" style="width:200px;background:none!important;border:none">
                                <div style="height:300px">
                                    <img class="card-img-top" src="{{@root.fileSourceRootUrl}}images/shows/{{_id}}/cover/{{cover}}" alt="Card image cap" style="object-fit:cover">
                                </div>
                                <div class="card-body" style="background:none!important;height:94px;padding-left:0;padding-right:0">
                                    <h5 class="card-title my-secondary-text">{{title}}</h5>
                                    <p class="card-text my-tertiary-text">{{releaseInfo}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
</div>
<script src="/scripts/home.js"></script>